<article class="post">
  <div class="title">
    <h1>{{username}} Thought</h1>
  </div>
  <div class="meta">
      <p>{{thoughtText}}</p>
    {{!-- <a href="/post/{{id}}">{{reactions.length}} {{format_plural "reaction" reactions.length}}</a> --}}
  </div>
</article>