<article class="post">
  <div class="title">
    <h1>{{username}} Thought</h1>
  </div>
  <div class="meta">
      <p>{{thoughtText}}</p>
    {{!-- <a href="/post/{{id}}">{{reactions.length}} {{format_plural "reaction" reactions.length}}</a> --}}
  </div>
</article>

Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam accusamus deserunt blanditiis quo vero sequi in atque. Accusantium harum sunt omnis consequatur magnam molestiae voluptatem, eos consectetur necessitatibus dolores aliquam placeat corporis! Nesciunt id ut illum possimus vero nihil ipsa, quibusdam praesentium laborum veniam neque voluptatibus blanditiis velit. Nam ab accusantium quasi reprehenderit voluptate sed ducimus doloremque, mollitia vel earum facilis? Rem architecto aut maxime ex mollitia, ad asperiores sapiente magnam repudiandae nulla magni libero. Repellendus, beatae incidunt itaque sit et aut quo facilis nobis. Accusantium delectus fugiat in, repellat blanditiis ex asperiores velit ratione ea similique veritatis quo ipsam!