<section>
  <h2>Delete Your Profile</h2>
  <button type="submit" class="btn" id="delete-button">Delete Profile</button>
</section>

<section>
  <h2>Add A New Thought</h2>

  <form class="new-thought-form">
    <div>
    <label for="thought-text">Thought Info</label>
    <textarea name="thought-text" id="thought-text"></textarea>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if thoughtData.length}}
<section>
  <h2>Your Thoughts</h2>
  <ol>
    {{#each thoughtData as |thought|}}
    <li data-thought_id="{{thought._id}}">
      <article class="post">
      <div class="title">
        <h1>{{thought.username}} Thought</h1>
      </div>
      <div class="meta">
          <p>{{thought.thoughtText}}</p>
        {{!-- <a href="/post/{{id}}">{{reactions.length}} {{format_plural "reaction" reactions.length}}</a> --}}
      </div>
      </article>      
      <a href="/dashboard/edit/{{thought._id}}" class="delete-link">Delete post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/dashboard.js"></script>